@media (max-width: @mobile-width-only) {
  .advantages__br {
    display: none;
  }
}

.advantages__text-card {
  background-color: @blue-back;
  color: @white;
  font-size: 14px;
  line-height: 21px;
  min-width: 320px;
  /*h3{
    font-size: 18px;
    line-height: 26px;
    font-weight: 700;
  }*/
  @media (min-width: @tablet-width) {
    min-width: 256px;
  }

  &--additional {
    background-color: @grey-back;
    color: @ordinary-text;
    list-style: none;
  }
}

.advantages__image {
  /*width: 320px;*/
  height: 256px;
  background-size: auto 256px;
  background-position: center;
  background-repeat: no-repeat;

  &--image-1 {
    background-image: url("../img/feature-picture.jpg");
  }

  &--image-2 {
    background-image: url("../img/red-rocks.jpg");
  }
}

@media (min-width: @tablet-width) {
  .advantages__text-card {
    display: inline-block;
    /*width: 256px;*/
    width: 33.333%;
    padding-top: 40px;
    padding-right: 32px;
    padding-bottom: 40px;
    padding-left: 32px;
    box-sizing: border-box;
  }

  .advantages__wrapper {
    display: grid;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    /*width: 768px;*/
    grid-template-rows: 256px 330px 256px 256px;
    grid-template-columns: 100%;
    justify-content: center;
  }

  .advantages {
    display: flex;
    flex-wrap: nowrap;
  }

  .advantages__image {
    width: 66.666%;
  }

  .advantages--text-block {
    margin-top: 0;
    margin-bottom: 0;
  }

  .advantages__h3 {
    font-size: 21px;
    width: 156px;
    margin: auto;
  }
}

@media (min-width: @desktop-width) {
  .advantages__text-card {
    /*width: 400px;*/
    width: 33.333%;
  }

  .advantages__wrapper {
    width: 1200px;
    grid-template-rows: 256px 330px 256px 256px;
    /*grid-template-columns: 1200px;*/
  }

  .advantages__image {
    width: 66.666%;
  }

  .advantages__p {
    min-width: 265px;
  }
}
