.form {
  padding-top: 20px;
  padding-bottom: 48px;
  border-top: 1px solid @fieldset-border;

  @media (min-width: @tablet-width) {
    /*display: flex;
    flex-direction: row;
    flex-wrap: wrap;*/
    display: grid;
    grid-template-columns: 1fr 1fr;
    /*grid-template-rows: 341px 278px 257px 272.5px;*/
    grid-template-areas: "impression introdution" "contacts contacts" "sights sights" "emotions emotions" "button button";
  }
}

.form__fieldset {
  border: none;
  border-bottom: 1px solid @fieldset-border;
}

.form__legend {
  font-weight: 700;
  line-height: 26px;
  font-size: 18px;
}

.form__fieldset--introdution {
  padding-bottom: 20px;
  margin-bottom: 17px;

  @media (min-width: @tablet-width) {
    order: 2;
    /*width: 50%;*/
    /*display: flex;
    flex-direction: column;*/
    grid-area: introdution;
  }
}

.form__fieldset--introdution .form__legend {
  margin-bottom: 19px;
}

.form__fieldset--contact-info {
  padding-top: 0;
  padding-bottom: 10px;
  margin-bottom: 20px;

  @media (min-width: @tablet-width) {
    order: 3;
    grid-area: contacts;
  }
}

.form__fieldset--contact-info .form__legend {
  margin-bottom: 17px;
}

.form__fieldset--impression {
  padding-top: 0;
  padding-bottom: 31px;
  margin-bottom: 15px;

  @media (min-width: @tablet-width) {
    order: 1;
    /*width: 50%;*/
    /*display: flex;
    flex-direction: column;*/
    grid-area: impression;
  }
}

.form__fieldset--choice .form__legend {
  margin-bottom: 25px;
}

.form__fieldset--contact-info .form__label,
.form__fieldset--introdution .form__label,
.form__p {
  line-height: 26px;
  font-size: 14px;
}

.form__fieldset--introdution .form__label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;

  &:nth-child(4) {
    margin-bottom: 0;
  }
}

/*.form__fieldset--contact-info .form__input::before {
  content: "";
  position: absolute;
  width: 58px;
  height: 58px;
  background-color: @input-icons;
  z-index: 5;
}*/

.form__fieldset--contact-info .form__text-input,
.form__fieldset--introdution .form__text-input {
  height: 58px;
  background-color: @form-input-back;
  border: none;
  color: @simple-black;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: none;
  font-family: "PT Sans", "Arial", sans-serif;
  width: 100%;
  padding-left: 18px;
  margin-left: 10px;
}

.form__fieldset--contact-info .form__text-input {
  box-sizing: border-box;
  margin-top: 5px;
  margin-bottom: 14px;
}

.form__input-cover {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
}

.data-input {
  height: 38px;
}

/*.form__text-input--phone::after {
  content: "";
  position: absolute;
  width: 58px;
  height: 58px;
  background-color: black;
  left: 18px;
  z-index: 6;
}*/

.form__icon {
  width: 58px;
  height: 58px;
  background-color: @input-icons;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 5px;
  margin-bottom: 14px;
}

.form__text-input--phone ~ .form__icon {
  background-image: url("../img/phone.svg");
}

.form__text-input--email ~ .form__icon {
  background-image: url("../img/mail.svg");
}

.form__fieldset--sights {
  padding-top: 0;
  padding-bottom: 30px;
  margin-bottom: 20px;
}

/*.form__fieldset--sights .form__legend {
  margin-bottom: 25px;
}*/

.form__fieldset--choice .form__label {
  font-size: 18px;
  font-weight: 700;
  text-transform: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.form__fieldset--impression .form__label {
  margin-bottom: 21px;

  &:nth-child(4) {
    margin-bottom: 0;
  }
}

.form__fieldset--sights .form__label {
  margin-bottom: 34px;

  &:nth-child(5) {
    margin-bottom: 0;
  }
}

.form__fieldset--emotions {
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 51px;

  @media (min-width: @tablet-width) {
    order: 5;
    grid-area: emotions;
  }
}

.form__fieldset--emotions .form__legend {
  margin-bottom: 15px;
}

.form__fieldset--emotions .form__textarea {
  width: 100%;
  min-width: 279px;
  height: 160px;
  background-color: @form-input-back;
  color: @simple-black;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: none;
  font-family: "PT Sans", "Arial", sans-serif;
  border: none;
  resize: none;
  padding: 13px 23px 29px 21px;
  box-sizing: border-box;
}

.form__button {
  background-color: @blue-back;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  color: @white;
  width: 280px;
  height: 58px;
  font-family: "PT Sans", "Arial", sans-serif;
  border: none;
}

.form__button-bar {
  @media (min-width: @tablet-width) {
    order: 6;
    grid-area: button;
    position: relative;
    display: flex;
    justify-content: space-between;
    padding-right: 60px;
    padding-left: 60px;
  }
}

/*.form__fieldset {
  border-bottom: 1px solid @fieldset-border;
}*/

/*.form {
  border-top: 1px solid @fieldset-border;
}*/

.form__fieldset:nth-child(1) {
  border-bottom: 1px solid @fieldset-border;
}

.form__fieldset:nth-child(5) {
  border-bottom: none;
}

.form__fieldset--sights input[type="checkbox"],
.form__fieldset--impression input[type="radio"] {
  display: none;
}

.form__fieldset--impression input[type="radio"] ~ .form__span {
  display: inline-block;
  vertical-align: bottom;
  background-repeat: no-repeat;
  background-color: @form-input-back;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  margin-right: 26px;
}

.form__fieldset--impression input[type="radio"]:checked ~ .form__span {
  background-image: url("../img/dot.svg");
  background-position: center;
}

.form__fieldset--sights input[type="checkbox"] ~ .form__span {
  display: inline-block;
  vertical-align: bottom;
  background-repeat: no-repeat;
  background-color: @form-input-back;
  width: 46px;
  height: 46px;
  margin-right: 29px;
}

.form__fieldset--sights input[type="checkbox"]:checked ~ .form__span {
  background-image: url("../img/tick.svg");
  background-position: center;
}

@media (max-width: @mobile-width-only) {
  .form__p {
    display: none;
  }
}

@media (min-width: @tablet-width) {
  .form__fieldset--sights {
    order: 4;
    grid-area: sights;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: left;
    width: 460px;
    margin: 0 auto;
  }

  .form__fieldset--sights .form__legend {
    text-align: center;
  }

  .form__fieldset--sights .form__label {
    min-width: 200px;
    display: flex;
    align-items: center;
    vertical-align: middle;
    margin-bottom: 42px;
  }

  .form__fieldset--sights .form__label:nth-child(4) {
    margin-bottom: 0;
  }
}


@media (min-width: @desktop-width) {
  .form__fieldset--contact-info {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .form__fieldset--contact-info .form__label {
    width: 50%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: baseline;
  }

  .form__fieldset--contact-info :nth-child(3) {
    justify-content: flex-end;
  }

  .form__fieldset--contact-info .form__text-input {
    width: 257px;
  }
}
