.form {
  padding-top: 20px;
  padding-bottom: 48px;
}

.form__fieldset {
  border: none;
}

.form__legend {
  font-weight: 700;
  line-height: 26px;
  font-size: 18px;
}

.form__fieldset--introdution {
  padding-bottom: 20px;
  margin-bottom: 17px;
}

.form__fieldset--introdution .form__legend {
  margin-bottom: 19px;
}

.form__fieldset--contact-info {
  padding-top: 0;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.form__fieldset--contact-info .form__legend {
  margin-bottom: 17px;
}

.form__fieldset--impression {
  padding-top: 0;
  padding-bottom: 31px;
  margin-bottom: 15px;
}

.form__fieldset--impression .form__legend {
  margin-bottom: 25px;
}

.form__fieldset--contact-info .form__label,
.form__fieldset--introdution .form__label {
  line-height: 26px;
  font-size: 14px;
}

.form__fieldset--introdution .form__label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;

  &:nth-child(4) {
    margin-bottom: 0;
  }
}

.form__fieldset--contact-info .form__text-input {
  width: 100%;
  box-sizing: border-box;
  margin-top: 5px;
  margin-bottom: 14px;
}

.form__fieldset--contact-info .form__text-input,
.form__fieldset--introdution .form__text-input {
  height: 56px;
  background-color: @form-input-back;
  border: none;
  color: @simple-black;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: none;
  font-family: "PT Sans", "Arial", sans-serif;
  width: 100%;
  padding-left: 18px;
  margin-left: 10px;
}

.form__fieldset--sights {
  padding-top: 0px;
  padding-bottom: 30px;
  margin-bottom: 20px;
}
.form__fieldset--sights .form__legend {
  margin-bottom: 25px;
}

.form__fieldset--impression .form__label,
.form__fieldset--sights .form__label {
  font-size: 18px;
  font-weight: 700;
  text-transform: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.form__fieldset--impression .form__label {
  margin-bottom: 21px;
  &:nth-child(4) {
    margin-bottom: 0px;
  }
}


.form__fieldset--sights .form__label {
  margin-bottom: 34px;
  &:nth-child(5) {
    margin-bottom: 0px;
  }
}

.form__fieldset--emotions {
  padding-top: 0px;
  padding-bottom: 0px;
  margin-bottom: 51px;
}

.form__fieldset--emotions .form__legend {
  margin-bottom: 15px;
}

.form__fieldset--emotions .form__textarea {
  width: 100%;
  min-width: 279px;
  height: 160px;
  background-color: @form-input-back;
  color: @simple-black;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: none;
  font-family: "PT Sans", Arial, sans-serif;
  border: none;
  resize: none;
  padding: 13px 23px 29px 21px;
  box-sizing: border-box;
}

.form__button {
  background-color: @blue-back;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  color: @white;
  width: 280px;
  height: 58px;
  font-family: "PT Sans", Arial, sans-serif;
  border: none;
}

.form__fieldset {
  border-bottom: 1px solid @fieldset-border;
}
.form {
  border-top: 1px solid @fieldset-border;
}

.form__fieldset:nth-child(1) {
  border-bottom: 1px solid @fieldset-border;
}

.form__fieldset:nth-child(5) {
  border-bottom: none;
}

.form__fieldset--sights input[type="checkbox"],
.form__fieldset--impression input[type="radio"] {
  display: none;
}

.form__fieldset--impression input[type="radio"]~.form__span {
  display: inline-block;
  vertical-align: bottom;
  background-repeat: no-repeat;
  background-color: @form-input-back;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  margin-right: 26px;
}

.form__fieldset--impression input[type="radio"]:checked~.form__span {
  background-image: url(../img/dot.svg);
  background-position: center;
}

.form__fieldset--sights input[type="checkbox"]~.form__span {
  display: inline-block;
  vertical-align: bottom;
  background-repeat: no-repeat;
  background-color: @form-input-back;
  width: 46px;
  height: 46px;
  margin-right: 29px;
}

.form__fieldset--sights input[type="checkbox"]:checked~.form__span {
  background-image: url(../img/tick.svg);
  background-position: center;
}


