.social__list {
  display: flex;
  //width: 150px;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  margin-top: 13px;
  margin-bottom: 12px;
  margin-right: 17px;
}

.social__link {
  width: 46px;
  height: 48px;
  background-color: @blue-back;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  margin-right: 6px;
}

.social__link--last {
  margin-right: 0;
}
