// Начните писать стили здесь
//@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,700&amp;subset=latin,cyrillic);
@white: #FFFFFF;
@ordinary-text: #333333;
@blue-back: #81B3D2;
@welcome-back: #5496bd;
@grey-back: #EEEEEE;
@import "page.less";
@import "page-header.less";
@import "page-main.less";
@import "intro.less";
@import "advantages.less";
@import "pictogram-block.less";
@import "map-search.less";
@import "page-footer.less";
@import "social.less";
@import "copyright.less";
.visually-hidden {
  display: none;
}
